<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dinoquestionandkids">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menu.AcercadeActivity"></activity>
        <activity android:name=".puzzle.PuzzleActivity" />
        <activity android:name=".puzzle.Puzzle2Activity" />
        <activity android:name=".juego.PerderActivity" />
        <activity android:name=".juego.GanarActivity" />
        <activity android:name=".juego.JuegoActivity" />
        <activity android:name=".juego.Juego6Activity" />
        <activity android:name=".juego.Juego5Activity" />
        <activity android:name=".juego.Juego4Activity" />
        <activity android:name=".juego.Juego3Activity" />
        <activity android:name=".juego.Juego2Activity" />
        <activity android:name=".dinosaurios.DinoInfoActivity" />
        <activity android:name=".inicio.RestablecerActivity" />
        <activity android:name=".informacion.Historia" />
        <activity android:name=".informacion.InformacionActivity" />
        <activity
            android:name=".linea_temporal.LineaTemporalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".juego.Juego1Activity" />
        <activity android:name=".dinosaurios.DinosauriosActivity" />
        <activity
            android:name=".inicio.CargaActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".inicio.RegistroActivity" />
        <activity android:name=".inicio.LoginActivity" />
        <activity
            android:name=".menu.MenuActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".inicio.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>